* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*==============================HEADER==============================*/

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  color: #395b64;
}

.menu {
  float: right;
}

header,
nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 2;
  border: 1px solid #395b64;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  background: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  background: #a5c9ca;
  text-decoration: none;
}

a.tbl-biru {
  background: #395b64;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #a5c9ca;
  text-decoration: none;
}

/*===========================HOME===================================*/

#home {
  padding: 30px;
}

.container-home {
  padding: 20px;
}

.section-title-home {
  font-size: 30px;
  color: #395b64;
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0 3rem 0;
}

.section-description-home {
  font-size: 19px;
  color: #395b64;
  text-align: center;
  margin: 2rem 19rem 3rem 19rem;
}

.container-inhome {
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.home-card {
  position: relative;
  width: 200px;
  overflow: hidden;
}

.home-data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.home-title,
.home-description {
  color: #ffffff;
  text-shadow: 2px 2px 0 #395b64, 2px -2px 0 #395b64, -2px 2px 0 #395b64, -2px -2px 0 #395b64, 2px 0px 0 #395b64;
}

.home-title {
  font-size: 1, 25rem;
  margin-bottom: 0.25rem;
}

.home-description {
  display: block;
  font-size: 0.813rem;
}

.home-img {
  transition: 0.3s;
}

.home-img:hover {
  transform: scale(1.1);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/*===============================COURSES=============================*/

button {
  border: none;
  font-size: 0.938rem;
}

button {
  cursor: pointer;
}

.section-title-courses {
  padding: 230px 0px 1px 0px;
  font-size: 30px;
  color: #395b64;
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0 3rem 0;
}

.section-description-courses {
  text-align: center;
  font-size: small;
  color: #555;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.container-courses {
  background-color: #e7f6f2;
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 6%;
}

.courses-container {
  width: 50%;
  box-sizing: border-box;
}

#tutors {
  margin: auto;
}

.courses-card,
.courses-img {
  height: 230px;
}

.courses-container {
  grid-template-columns: repeat(1, max-content);
  justify-content: center;
}

.courses-card {
  position: relative;
  overflow: hidden;
}

.courses-card:hover .courses-img {
  transform: scale(1.1);
}

.courses-img {
  transition: 0.3s;
}

.courses-content,
.courses-title {
  color: black;
}

.courses-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 0.75rem 1rem;
}

.courses-number {
  color: black;
  font-weight: 600;
}

.courses-subtitle,
.courses-price {
  display: block;
}

.courses-title {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.courses-subtitle {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}

.courses-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.75rem 1rem;
}

/*============================ BUTTONS =============================*/
.button {
  display: inline-block;
  background-color: #395b64;
  color: white;
  padding: 1rem 1rem;
  font-weight: 700;
  transition: 0.3s;
}

.button:hover {
  background-color: #a5c9ca;
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

/*============================= TUTORS =============================*/

.container-tutors {
  margin: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
}

.sidebar {
  margin: 50px 30px 50px 50px;
  padding: 50px 30px 50px 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.section-title-tutors {
  font-size: 30px;
  color: #395b64;
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0 3rem 0;
}

.tutor-img img {
  width: 150px;
  border-radius: 50%;
}

.tutor-description p {
  font-size: 18px;
  color: black;
  text-align: left;
  margin: 5px 0px 5px 0px;
}

.button-tutors {
  padding: 30px 0px 10px 0px;
}

/*=========================== CHORDS ===============================*/

.container-chord {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
}

.section-title-chords {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title-chords h1 {
  text-align: center;
  font-size: 36px;
  color: #395b64;
  margin-bottom: 10px;
}

.section-title-chords p {
  text-align: center;
  font-size: small;
  color: #555;
}

.chords {
  min-height: 100vh;
  padding: 80px 0;
}

.chords .chord-items {
  flex: 0 0 100%;
  max-width: 100%;
}

.chords .chord-items .item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
}

.chords .chord-items .item-inner {
  border: 1px solid white;
  padding: 30px;
}

.chords .chord-items .read-more-cont {
  display: none;
}

.chords .chord-items .item-inner h3 {
  font-size: 20px;
  color: #395b64;
  margin-bottom: 30px;
  position: relative;
}

.chords .chord-items .item-inner h3::before {
  content: "";
  height: 1px;
  width: 80px;
  background-color: #395b64;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.chords .chord-items .item-inner article {
  color: #555;
  font-size: 16px;
  margin: 0 0 30px;
  text-align: justify;
}

.chords .chord-items .item-inner .btn {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #555;
  color: #395b64;
  padding: 8px 15px;
  cursor: pointer;
}

.popup-box {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.popup-box.open {
  visibility: visible;
  opacity: 1;
}

.popup-box .popup-content {
  background-color: #fff;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.popup-box .popup-header {
  padding: 15px 40px 15px 15px;
  border-bottom: 1px solid #dddd;
}

.popup-box .popup-header h3 {
  margin: 0;
}

.popup-box .popup-header .popup-close-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #555;
  font-size: 28px;
  line-height: 30px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.popup-box .popup-body {
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
}

.popup-box .popup-body img {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.popup-box .popup-footer {
  padding: 15px;
  border-top: 1px solid #dddd;
  text-align: right;
}

.popup-box .popup-footer .btn {
  padding: 8px 15px;
  border: 1px solid #555;
  color: #555;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.popup-box .popup-footer .btn:focus {
  overflow: none;
}

/*============================== PIANO ==============================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body-piano {
  background-color: #e7f6f2;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 1;
}

.black.active {
  background-color: #333;
}

/*============================== FOOTER ==============================*/
#contact {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: #395b64;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ccc;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: #a5c9ca;
}

.footer-bottom {
  background: #395b64;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  opacity: 0.4;
  font-weight: 200;
}

/*==============================MEDIA QUERY==============================*/

/* small devices */
@media screen and (max-width: 340px) {
  .courses-container {
    grid-template-columns: max-content;
    justify-content: center;
  }
}

/* medium devices */
@media screen and (max-width: 568px) {
  .container-courses {
    display: flex;
    flex-wrap: wrap;
  }
  .courses-container {
    justify-content: center;
    align-items: center;
  }
  #tutors {
    justify-content: center;
    align-items: center;
  }
  .section-title-courses {
    margin: auto;
    padding: auto;
  }
  .section-description-courses {
    margin: auto;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .courses-container {
    grid-template-columns: repeat(3, max-content);
  }
  .home-container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .home-container,
  .courses-container {
    padding-top: 2rem;
  }
}

/* large devices */
@media screen and (min-width: 1024px) {
  .home-card {
    width: 237px;
  }

  .home-container {
    width: 700px;
  }

  .home-data {
    left: 1.5rem;
    bottom: 2rem;
  }

  .home-title {
    font-size: medium;
  }
}

/* mobile */
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
}
